<div class="container-fluid bg-gray-950 text-white min-h-screen">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-9 content bg-gray-950">
      <div class="p-6">
        <h1 class="text-4xl font-semibold mb-8 text-white">Setores</h1>
        <a [routerLink]="['/', ecode, 'create-sector']" class="hover:bg-gray-700">Criar Setor</a>
        <div class="bg-gray-900 rounded-xl shadow-lg overflow-hidden">
          <div class="p-4">
            <div class="relative">
              <input pInputText type="text" placeholder="Pesquisar..." (input)="filtrarGlobal($event, dt)"
                class="pl-10 pr-4 py-2 rounded-xl bg-gray-800 text-sm text-gray-300 placeholder-gray-500 focus:outline-none focus:ring focus:border-blue-500 w-full" />
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400">
                <i class="pi pi-search"></i>
              </div>
            </div>
          </div>

          <p-table #dt [value]="listSector"
            [globalFilterFields]="['name', 'cnes', 'nameResponsible', 'cpfResponsible', 'crf', 'address', 'numberAddress', 'estado', 'cidade', 'cep', 'phoneNumber']"
            [responsiveLayout]="'scroll'"
            styleClass="w-full p-datatable-sm p-datatable-gridlines p-datatable-striped p-datatable-compact">

            <ng-template pTemplate="header">
              <tr class="bg-gray-800 text-gray-400 text-xs uppercase">
                <th class="px-2 py-1.5">id</th>
                <th class="px-2 py-1.5">Nome</th>
                <th class="px-2 py-1.5">CNES</th>
                <th class="px-2 py-1.5">Responsável</th>
                <th class="px-2 py-1.5">CPF</th>
                <th class="px-2 py-1.5">CRF</th>
                <th class="px-2 py-1.5">Endereço</th>
                <th class="px-2 py-1.5">Cidade</th>
                <th class="px-2 py-1.5">Estado</th>
                <th class="px-2 py-1.5">CEP</th>
                <th class="px-2 py-1.5">Telefone</th>
                <th class="px-2 py-1.5">Ações</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-sector let-i="rowIndex">
              <tr [ngClass]="i % 2 === 0 ? 'bg-gray-800' : 'bg-gray-700'"
                class="hover:bg-gray-600 transition-all text-xs text-gray-300">
                <td class="px-2 py-1.5">{{ sector.id}}</td>
                <td class="px-2 py-1.5">{{ sector.name }}</td>
                <td class="px-2 py-1.5">{{ sector.cnes }}</td>
                <td class="px-2 py-1.5">{{ sector.nameResponsible }}</td>
                <td class="px-2 py-1.5">{{ sector.cpfResponsible }}</td>
                <td class="px-2 py-1.5">{{ sector.crf }}</td>
                <td class="px-2 py-1.5">{{ sector.address }}, {{ sector.numberAddress }}</td>
                <td class="px-2 py-1.5">{{ sector.cidade }}</td>
                <td class="px-2 py-1.5">{{ sector.estado }}</td>
                <td class="px-2 py-1.5">{{ sector.cep }}</td>
                <td class="px-2 py-1.5">{{ sector.phoneNumber }}</td>
                <td class="px-2 py-1.5">
                  <div class="flex gap-1">
                    <button pButton icon="pi pi-user-edit" [routerLink]="['/', ecode, sector.id, 'update-sector']"
                      class="p-button-sm p-button-outlined p-button-info" tooltip="Editar"></button>
                  </div>
                </td>
              </tr>
            </ng-template>

          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>